<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journals</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
  <a class="mainp" href="/journals">Journals</a>
    <h1><%=journal.title%></h1>
    <h2><%=journal.entry%></h2>

    <form action="/journals/<%= journal._id%>/edit" method="POST">
      <input type="text" name="title" value="<%=journal.title%>">
      <br>
      <textarea placeholder="Change your thoughts" name="entry" cols="60" rows="5" value="<%=journal.entry%>"></textarea>
      <br>
      <input type="submit">
    </form>
    <br>
    <br>
    <br>

    <% if (journal.notes.length) { %>
      <table>
        <thead>
          <tr>
            <th>Notes:</th>
          </tr>
        </thead>
        <tbody>
          <div class="notes">
          <% journal.notes.forEach(function(e) { %>
          </div>
            <tr>
              <td><%= e.note %></td>
              <td>
                <form action="/journals/<%= journal._id%>/notes/<%=e._id%>?_method=DELETE" method="POST">
                <input type="submit" value="delete" >
                </form>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } else { %>
      <h4>No Notes Added Yet</h4>
    
      <% } %>
    <form action="/journals/<%= journal._id %>/notes" method="POST">
      <textarea placeholder="Notes" name="note" id="" cols="20" rows="2"></textarea>
      <br>
      <input type="submit">
    </form>
</body>
</html>